body,
html,
.App {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

html {
  background-color: #ffe69c;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  flex: 0 auto;
  margin: 0 20px 110px 20px;
}

.container.pokemonlist {
  margin: 0 20px 20px 20px;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 130px;
}

.stats {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.types,
.abilities {
  border: 2px solid orange;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  width: 120px;
  color: #5a9ca4;
}

.types h3,
.abilities h3,
.types p,
.abilities p {
  margin: 5px;
}

.card {
  margin: 20px;
  border: 2px solid orange;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-flow: column;
  max-width: 300px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #5a9ca4;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.card .capitalize,
.bigcard .capitalize {
  text-transform: capitalize;
  margin: 10px;
}

.bigcard {
  margin: 10px 20px 20px 20px;
  border: 2px solid orange;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-flow: column;
  max-width: 500px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.App-header,
header {
  background-color: #5a9ca4;
  justify-content: center;
  width: 100vh;
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 2px solid #f6bd20;
}

.App-header img {
  width: 100%;
  max-width: 600px;
  display: flex;
}

footer {
  background-color: #5a9ca4;
  justify-content: center;
  width: 100vh;
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 2px solid #f6bd20;
  margin-top: 10px;
  height: 50px;
  position: absolute;
  bottom: 0;
}

h1 {
  color: #f6bd20;
  background-color: #5a9ca4;
  padding: 10px;
  font-size: 40px;
  justify-content: center;
}

.card h1,
.bigcard h1 {
  color: #5a9ca4;
  background-color: white;
  padding: 10px 20px;
  font-size: 35px;
  font-weight: bold;
  border: 2px solid orange;
  border-radius: 20px;
  margin: 5px;
}

.home {
  background-color: #5a9ca4;
  max-width: 50%;
}

img {
  width: 100%;
  max-width: 1000px;
}

.card img {
  width: 150px;
}

.btn {
  display: inline-block;
  border: 2px solid #f6bd20;
  background: #5a9ca4;
  color: #f6bd20;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: #8bc5cd;
}
