body,
html,
.App {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
  display: flex;
  flex-flow: row;
}

.card {
  margin: 10px;
  border: 2px solid green;
  padding: 10px;
  display: flex;
  flex-flow: column;
  max-width: 200px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.App-header,
h1 {
  justify-content: center;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
